@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}


@layer component{
    h1{
      @apply   text-white text-4xl md:text-6xl lg:text-7xl font-bold mb-6
    }
    h2{
      @apply text-white text-4xl md:text-6xl lg:text-7xl font-bold 
    }
    h3{
      @apply text-white text-2xl md:text-4xl lg:text-5xl font-bold uppercase
    }
    h4{
      @apply text-white text-2xl md:text-3xl lg:text-4xl font-semibold mb-10 
    }
    h5{
      @apply text-white text-lg md:text-xl font-semibold uppercase
    }
    p{
      @apply text-white text-base  lg:text-lg  font-medium
    }
    .large-heading{
      @apply text-6xl md:text-7xl lg:text-[90px] font-bold  text-white uppercase
    }
   .header-btn {
  @apply text-[15px] inline-flex font-medium py-3 px-5 border-2 border-white rounded-full text-white hover:text-black hover:bg-white transition-all duration-300;
}

.nav-link.active {
  @apply underline underline-offset-8 decoration-2 decoration-[#F9A51A] transition-all duration-500 text-white;
}
.btn{

  @apply text-base md:text-[18px]  inline-flex font-medium py-2 px-3 md:px-5 border-2 border-white rounded-full text-white hover:text-black hover:bg-white transition-all duration-300;

}

.five-pillars .pillar {
  @apply relative rounded-4xl overflow-hidden cursor-pointer min-h-[540px] ;
}

.five-pillars .pillar img {
  @apply w-full h-full object-cover transition-transform duration-500 ;
}

.five-pillars .pillar:hover img {
  @apply scale-110;
}

.five-pillars .pillar .heading {
  @apply text-white text-4xl px-5 capitalize;
}

   
}

html{
    scroll-behavior: smooth;
}

header {
  position: relative;
  width: 100%;
  transition: all 1s ease-in-out;
  z-index: 1000;
}

/* Sticky state */
header.sticky {
  position: fixed;
  top: 0;
  transform: translateY(-100%); 
  animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(0);
  }
}